/*Carrusel*/
#visorFotos{
	position: relative;
	width: 100%;
	height: 300px;
	margin-left:auto;
	margin-right:auto;
	background-color: black;
	overflow: hidden;

}
#visorFotos img {
	width: 1210px;
	height: 300px;
		}
#anterior{
	position: absolute;
	width: 40px;
	height: 300px;
	background-color: #f44336;
  color: #fff;
	text-align: center;
	cursor: pointer;
	z-index:1;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#siguiente{
	position: absolute;
	width: 40px;
	height: 300px;
	background-color: #f44336;
  color: #fff;
	text-align: center;
	top:0;
	cursor: pointer;
	right:0;
	z-index:1;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#anterior:hover, #siguiente:hover{
	background-color: #bf3228;
}
#interna{
	position: absolute;
	z-index:0;
	top: 0;
	left: 10px;
	width: 1210px;
}
/* END Carrusel*/

/* Tres Pestanas*/
#contenedor{
  padding:30px;
}
div img{
  width:200px;
}
.contenido{
  padding:20px;
  border: 1px solid #c0c0c0;
  width:400px;
}
.limpia{
  clear:both;
}
#pestanas ul li{
  float:left;
  list-style-type:none;
  border:1px solid #c0c0c0;
  border-bottom:none;
  padding:5px;
  position:relative;
  background-color:#ffffff;
  margin-right:3px;
  cursor: pointer;
}
#contenidoDos, #contenidoTres{
  display:none;
}
#uno{
  top:3px;
}
/* END Tres Pestañas*/
