/*Carrusel*/
#visorFotos{
    			position: relative;
    			width: 500px;
    			height: 200px;
    			margin-left:auto;
    			margin-right:auto;
    			background-color: black;
    			overflow: hidden;
    		}
    		#visorFotos img {
    			width:100px;
    			height: 100px;
       		}
    		#anterior{
    			position: absolute;
    			width: 10px;
    			height: 200px;
    			background-color: gray;
    			text-align: center;
    			cursor: pointer;
    			z-index:1;
    		}
    		#siguiente{
    			position: absolute;
    			width: 10px;
    			height: 200px;
    			background-color: gray;
    			text-align: center;
    			top:0;
    			cursor: pointer;
    			left:490px;
    			z-index:1;
    		}
    		#anterior:hover, #siguiente:hover{
    			background-color: white;
    		}
    		#interna{
    			position: absolute;
    			z-index:0;
    			top: 50px;
    			left: 10px;
    			width:1000px;
    		}
/* END Carrusel*/

/* Tres Pestanas*/
#contenedor{
  padding:30px;
}
div img{
  width:200px;
}
.contenido{
  padding:20px;
  border: 1px solid #c0c0c0;
  width:400px;
}
.limpia{
  clear:both;
}
#pestanas ul li{
  float:left;
  list-style-type:none;
  border:1px solid #c0c0c0;
  border-bottom:none;
  padding:5px;
  position:relative;
  background-color:#ffffff;
  margin-right:3px;
}
#contenidoDos, #contenidoTres{
  display:none;
}
#uno{
  top:3px;
}
/* END Tres Pestañas*/
