*{
  margin:0;
  padding:0;
}

body {
  background-color:#fefefe;
}
.wrapper {
	width:90%;
  height:auto;
	background-color: #ffffff;
	margin:0 auto;
}
.principal{
	width:100%;
	height:60px;
	background-color:rgb(56,56,56);
}

/* Navigation */
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bt-menu img{
  max-height:24px;
  max-width:24px;
}
.nombre{
  padding:15px 20px;
  color:white;
  display: inline-block;
}
.navi{
  float:right;
}
.menu_bar {
	display:none;
}

header {
	width: 100%;
}

header nav {
	background:#023859;
	z-index:1000;
	max-width: 1000px;
	width:95%;
	margin:20px auto;
}

header nav ul {
	list-style:none;
}

header nav ul li {
	display:inline-block;
	position: relative;
}

header nav ul li:hover {
	background:#E6344A;
}

header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}

header nav ul li a span {
	margin-right:10px;
}

header nav ul li:hover .children {
	display:block;
}

header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
	display: block;
}

header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

/* END Navigation*/
/* Media Queries*/
@media screen and (max-width: 800px) {
	body {
		padding-top:76px;
	}
  .oculto-en-movil{
    display: none;
  }
  .navi{
    float:none;
  }
  /*Navigation Móvil*/
  .nombre{
    float:none;
  }
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#E6344A;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		overflow: hidden;
	}
  .menu_bar .bt-menu img {
		max-width: 25px ;
    max-height: 25px ;
	}

	.menu_bar span {
		float: right;
	}

	header nav {
		width: 80%;
		height: calc(100% - 76px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children {
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}
}
/* END Media Queries*/
/* HOME: Tres destinos*/
#contenedor{
	width: 900px;
	margin: 0 auto;
  clear: both;
}
#izquierda{
	width: 300px;
	float: left;
}
#derecha{
	width: 600px;
	float: right;
}
#izquierda ul{
	margin: 20px 0 0 40px;
}
#izquierda li{
	list-style: none;
}
#izquierda a:hover{
	color: #fff;
}
#izquierda img{
	width:50px;
}
/* END HOME: Tres destinos */

/* DETALLE: Carrusel*/
#visorFotos{
    			position: relative;
    			width: 500px;
    			height: 200px;
    			margin-left:auto;
    			margin-right:auto;
    			background-color: black;
    			overflow: hidden;
    		}
    		#visorFotos img {
    			width:100px;
    			height: 100px;
       		}
    		#anterior{
    			position: absolute;
    			width: 10px;
    			height: 200px;
    			background-color: gray;
    			text-align: center;
    			cursor: pointer;
    			z-index:1;
    		}
    		#siguiente{
    			position: absolute;
    			width: 10px;
    			height: 200px;
    			background-color: gray;
    			text-align: center;
    			top:0;
    			cursor: pointer;
    			left:490px;
    			z-index:1;
    		}
    		#anterior:hover, #siguiente:hover{
    			background-color: white;
    		}
    		#interna{
    			position: absolute;
    			z-index:0;
    			top: 50px;
    			left: 10px;
    			width:1000px;
    		}
/* END DETALLE: Carrusel*/

/* DETALLE: Tres Pestanas*/
#contenedor{
  padding:30px;
}
div img{
  width:200px;
}
.contenido{
  padding:20px;
  border: 1px solid #c0c0c0;
  width:400px;
}
.limpia{
  clear:both;
}
#pestanas ul li{
  float:left;
  list-style-type:none;
  border:1px solid #c0c0c0;
  border-bottom:none;
  padding:5px;
  position:relative;
  background-color:#ffffff;
  margin-right:3px;
}
#contenidoDos, #contenidoTres{
  display:none;
}
#uno{
  top:3px;
}
/* END DETALLE Tres Pestañas*/


footer{
  text-align: center;
}
