*{
  margin:0;
  padding:0;
}

body {
  background-color:rgb(224,224,224);
}
.wrapper {
	width:90%;
  height:auto;
	background-color: #ffffff;
	margin:0 auto;
}
.principal{
	width:100%;
	height:60px;
	background-color:rgb(56,56,56);
}
.nombre{
	width:250px;
	height:20px;
  padding-left:20px;
  padding-top:0;
  text-align:center;
	float:left;
  color:white;
}
.nombre h1{
font-size:25px;
}
/* Navigation */
#menu{
	width:700px;
	height:30px;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
  color:white;
  padding-top:5px;
	text-align:center;
	padding-right:25px;
}

#menu ul{
font-size:16px;
list-style:none;
}

#menu ul li{
	display:inline;
	padding:0 20px;
  color: #fff;
  float: left;
  list-style: none;
}

#menu ul li:hover{
 color: #aaa073;
 cursor:pointer;
}

#menu ul ul {
 display: none;
 position: absolute;
 top: 49px;
 background: #333;
 color: #fff;
 padding: 5px 0px 5px 5px;
 margin: 0;
 }

#menu ul ul li{
 float: left;
 color: #fff;
 width:auto;
 margin:2% 0%;
 clear: both;
 padding:10px 20px;
}


#menu ul ul li a{
 color: #fff;
}

#menu ul ul li a:hover{
 color: #aaa073;
 cursor:pointer;
}

#menu ul li:hover ul ul,#menu ul li:hover ul ul ul, #menu ul li.iehover ul ul,#menu ul li.iehover ul ul ul {
 display: none;
 cursor:pointer;
}

#menu ul li:hover ul,#menu ul ul li:hover ul,#menu ul ul ul li:hover ul,#menu ul li.iehover ul,#menu ul ul li.iehover ul,#menu ul ul ul li.iehover ul {
 display: block;
 cursor:pointer;
}
/* END Navigation*/

/* HOME: Tres destinos*/
#contenedor{
	width: 900px;
	margin: 0 auto;
  clear: both;
}
#izquierda{
	width: 300px;
	float: left;
}
#derecha{
	width: 600px;
	float: right;
}
#izquierda ul{
	margin: 20px 0 0 40px;
}
#izquierda li{
	list-style: none;
}
#izquierda a:hover{
	color: #fff;
}
#izquierda img{
	width:50px;
}
/* END HOME: Tres destinos */

/* DETALLE: Carrusel*/
#visorFotos{
    			position: relative;
    			width: 500px;
    			height: 200px;
    			margin-left:auto;
    			margin-right:auto;
    			background-color: black;
    			overflow: hidden;
    		}
    		#visorFotos img {
    			width:100px;
    			height: 100px;
       		}
    		#anterior{
    			position: absolute;
    			width: 10px;
    			height: 200px;
    			background-color: gray;
    			text-align: center;
    			cursor: pointer;
    			z-index:1;
    		}
    		#siguiente{
    			position: absolute;
    			width: 10px;
    			height: 200px;
    			background-color: gray;
    			text-align: center;
    			top:0;
    			cursor: pointer;
    			left:490px;
    			z-index:1;
    		}
    		#anterior:hover, #siguiente:hover{
    			background-color: white;
    		}
    		#interna{
    			position: absolute;
    			z-index:0;
    			top: 50px;
    			left: 10px;
    			width:1000px;
    		}
/* END DETALLE: Carrusel*/

/* DETALLE: Tres Pestanas*/
#contenedor{
  padding:30px;
}
div img{
  width:200px;
}
.contenido{
  padding:20px;
  border: 1px solid #c0c0c0;
  width:400px;
}
.limpia{
  clear:both;
}
#pestanas ul li{
  float:left;
  list-style-type:none;
  border:1px solid #c0c0c0;
  border-bottom:none;
  padding:5px;
  position:relative;
  background-color:#ffffff;
  margin-right:3px;
}
#contenidoDos, #contenidoTres{
  display:none;
}
#uno{
  top:3px;
}
/* END DETALLE Tres Pestañas*/


footer{
  text-align: center;
}
